.order-detail {
    .order-id-box {
        max-width: 50%;
        border   : 1px solid #000;
        padding  : 12px 16px;
        // margin: 0 auto;
        flex     : 1;

        .order-id {
            font-size: 12px;
        }

        .confirmed-box {
            background-color: yellow;
            border-radius   : 6px;
            padding         : 2px 8px;
            margin          : 0 4px;

            .confirmed-text {
                font-size: 10px;
            }
        }
    }

    .order-date {
        margin-left: auto;
        font-size  : 13px;
    }

    p {
        margin: 0;
    }

    .receive-wp {
        .receive-info {
            border     : 1px solid #000;
            padding    : 22px 26px;
            font-size  : 12px;
            margin-top : -12px;
            font-weight: 500;
            p {
                padding: 4px 0;
            }
        }
    }

    // table
    table {
        border         : 1px solid #000;
        margin-top     : 16px;
        border-collapse: collapse;
        border-radius  : 16px !important;
        font-size      : 12px;
        font-weight    : 500;

        thead {
            tr {
                background-color: var(--order-table-color);
                color           : #fff;
            }
        }

        tr {
            td {}
        }
    }
}