.cart {
    .cart-left-section {
        border-right: 1px solid #d9d9d9;

        .title-div {
            margin: 2rem 0;

            .title {
                font-weight: 600;
            }
        }
    }
    .pricing-info {
        padding: 1rem 0;
        &::after {
            position: absolute;
            content: "";
            top: 0;
            width: 100%;
            height: 1px;
            background-color: #ccc;
            left: 0;
        }
        .final-total-box {
            padding-top: 1rem;
            padding-bottom: 1rem;
            &::after {
                position: absolute;
                content: "";
                top: 0;
                background-color: #ccc;
                height: 1px;
                width: 100%;
                left: 0;
            }
        }
    }
}